<div id="toolbar">
	<div id="controls">
		<% if logged_in? and controller.respond_to?("new_remote") == true %>
			<%= link_to_remote_redbox image_tag('add.png', :title => "New #{controller.controller_name.singularize.capitalize}"), 
				:url => { :action => 'new_remote' },
				:html => { :class => 'lightbox' }
			-%>
		<% end %>&nbsp;
	</div>
	<div class="paging">
	<% if @alphabar %>
		<div id="alphabar">
			<% (["#"]+(65..90).collect{ |i| i.chr }).each do |ltr| %>
				<% if @alphabar.include?(ltr) %>
					<%=	link_to ltr, :letter => ltr	%>
				<% else %>
					<% if ltr == params[:letter] #@letter %>
						<span class="current"><%= ltr %></span>
					<% else %>
						<span class="disabled"><%= ltr %></span>
					<% end %>
				<% end %>
			<% end %>
		</div>
		<% end %>
		<%= will_paginate @listing, :id => 'pagebar' %>
	</div>
	<%= render :partial => "common/search_control" %>
</div>