<div id="toolbar">
	<div id="controls">
		<% if logged_in? and controller.respond_to?("new_remote") == true %>
			<%= link_to_remote_redbox image_tag('add.png', :title => "New #{controller.controller_name.singularize.capitalize}"), 
				:url => { :action => 'new_remote' },
				:html => { :class => 'lightbox' }
			-%>
		<% end %>
	</div>
	<% if @alphabar %>
	<div id="alphabar" class="paging">
		<% (["#"]+(65..90).collect{ |i| i.chr }).each do |ltr| %>
			<% if @alphabar.include?(ltr) %>
				<%=	link_to ltr, :action => 'alpha', :letter => ltr	%>
			<% else %>
				<span class="disabled"><%= ltr %></span>
			<% end %>
		<% end %>
	</div>
	<% end %>
	<% if @paginate %>
	<%= will_paginate @listing, :id => 'pagebar', :class => 'paging' %>
	<% end %>
	<%= render :partial => "common/search_control" %>
</div>