<div id="toolbar">
	<div id="toolbar_main">
		<div id="controls">
			<div id="create"><%= link_to image_tag('gear.png', :height => 24, :width => 24, :title => "New #{controller.controller_name.singularize.capitalize}"), :action => 'new' %></div>
		</div>
		<div id="search">
			<%= render :partial => "common/search_control" %>
		</div>
	</div>
	<div id="toolbar_extras">
		<% if @alphabar %>
		<div id="alphabar" class="paging_control apple_pagination">
			<% (["#"]+(65..90).collect{ |i| i.chr }).each do |ltr| %>
				<% if @alphabar.include?(ltr) %>
					<%=	link_to ltr, :action => 'alpha', :letter => ltr	%>
				<% else %>
					<span class="disabled"><%= ltr %></span>
				<% end %>
			<% end %>
		</div>
		<% end %>
		<% if @paginate %>
		<%= will_paginate @listing, :id => 'pagebar', :class => 'paging_control apple_pagination' %>
		<% end %>
	</div>
</div>