<h1>New vote</h1>

<% form_for([@retort, @vote]) do |f| %>
  <%= f.error_messages %>
  <p>awesome: <%= f.radio_button :value, 1 %>&nbsp;sucks: <%= f.radio_button :value, -1 %></p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', retort_votes_path(@retort) %>
