<p>
  <b>Who:</b>
  <%=h @attribution.who %>
</p>

<p>
  <b>Where:</b>
  <%=h @attribution.where %>
</p>

<p>
  <b>How:</b>
  <%=h @attribution.how %>
</p>

<p>
  <b>Why:</b>
  <%=h @attribution.what %>
</p>

<p>
  <b>When:</b>
  <%=h @attribution.when %>
</p>


<%= link_to 'Edit', edit_attribution_path(@attribution) %> |
<%= link_to 'Back', attributions_path %>
