<h1>New rating</h1>

<% form_for(@rating) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :positive %><br />
    <%= f.text_field :positive %>
  </p>
  <p>
    <%= f.label :negative %><br />
    <%= f.text_field :negative %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', ratings_path %>
