<div class="corn dialog login">
	<div class="corn-bd">
		<% form_tag session_path do -%>
			<table>
				<tr><th><%= label_tag 'email' %></th><td><%= text_field_tag 'login', @login %></td></tr>
				<tr><th><%= label_tag 'password' %></th><td><%= password_field_tag 'password', nil %></td></tr>
			</table>
			<!-- <%= label_tag 'remember_me', 'remember?' %> <%= check_box_tag 'remember_me', '1', @remember_me %> -->
			<%= button_to_close_redbox 'Cancel' %>
			<%= submit_tag 'Login', { :class => 'r login-btn' } %>
		<% end %>
		<%= button_to "Register", { :controller => 'users', :action => 'new' }, { :method => :get } %>
	</div>
	<div style="opacity: 1;" class="bgnd">
	    <u class="w"></u><u class="e"></u>
	    <i class="w"></i><i class="e"></i>
	    <b class="w"></b><b class="e"></b>
	</div>
</div>