<div class="yui-g">
	<% curvy_corners do %>
		<ul>
			<li class="quote">
				<div id="retort-content" class="quote">
					<%= @retort.content %>
					<span class="qr"><img onclick="" src="/images/gt.png"></span>
				</div>
				<div id="retort-metadata" class="metadata">
					<% if @retort.attribution %>
						<div id="attribution">
							<% %w{ who what where how when }.each do |attrib| %>
								<% val = @retort.attribution.send attrib %>
								<% if val and val.size > 0 %>
									<div class="attrib"><%= val %></div>
								<% end %>
							<% end %>
						</div>
					<% end %>
					<div id="rating">
						positive: <%= @retort.rating.positive %>,&nbsp;negative: <%= @retort.rating.negative %>
					</div>
				</div>
			</li>
		</ul>
	<% end %>
</div>
<%= render_tagcloud @tagcloud %>
